<div class="banner-main">
  <div class="container">
    <h1>Mr Cocktail</h1>
    <h2>Your one-stop-show for delicious drinks!</h2>
  </div>
</div>
<div class="container">
  <h2>Explore our cocktails</h2>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/1600x900/?cocktail" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">< "explore cocktail", cocktail_path(cocktail) %></a>
          </div>
        </div>
      <!-- <p><strong><%= link_to cocktail.name, cocktail_path(cocktail) %></strong></p> -->
    <% end %>
  </div>
</div>
