.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
}

.card-category a {
  color: white;
  text-decoration: none;
}

.card-category a:hover {
  opacity: 0.6;
}



.main-container {
  display: flex;

}

.cards {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

#side {
  background: white;
  width: 20%;
  height: 250px;
  position: sticky;
  margin-left: 10px;
  padding: 20px;
  border-radius: 5px;
}
